* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.slider {
    width: 100%;
}

.slider .slider-item {
    padding: 10px;
}

.slider .slider-item img,
img {
    width: 100%;
}

.slick-next:before {
    content: '\276F' !important;
}

.slick-prev:before {
    content: '\276E' !important;
}

.slick-next:before,
.slick-prev:before {
    font-size: 20px !important;
    color: black !important;
}
